// variables

$website-width: 1280px;
$main-color:#79bac1;
$light-color:#f4f4f4;
$dark-color: #333;
$med-color:#ccc;
$main-color-dark: #2a7886;
$secondary-color: #512b58;
$bg-img: url('../dist/img/showcase.jpg');